name: Sync from Gitee

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'
  push:
    branches: [ main ] # GitHub主分支是main则保持不变

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout GitHub Repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Git Identity
        run: |
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"

      - name: Fetch from Gitee
        run: |
          git remote add gitee https://gitee.com/hidden-clouds-at-night-fuxsm/hidden-clouds.git
          git fetch gitee --tags
          # 关键修改：将 Gitee/master 的内容合并到当前分支（GitHub/main）
          git merge --allow-unrelated-histories --no-edit --strategy-option=theirs gitee/master

      - name: Push to GitHub
        run: |
          git push origin main --force # 推送回 GitHub 的 main 分支
